* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #da6212;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #363D45;
    }
  
   
  
  /* apply styles to <header> */
  header {
    padding: 50px 35px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../images/689140.jpeg)
  }

  .bio-info {
    padding: 0px 0px 0px 0px;
  }

  .bio-info h2 {
    padding: 5px;
  }

  .bio-info h3 {
    font-style: italic;
    padding-top: 5px;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #da6212;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #da6212;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7px 0 0 0;
  }
  
  header nav ul li {
    display: inline;
    border-bottom: solid;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 30px;
  }

  header h1 h2 {
      display: inline;
  }
  
  .content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
  }
  
  article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #586870;
    color: #da6212;
    font-size: 28px;
  }
  
      
  .float-left {
    float: left;
    margin-right: 25px;
    max-width: 500px;
    max-height: 500px;
  }
  
  .float-right {
    float: right;
    margin-left: 25px;
    max-width: 200px;
    max-height: 200px;
  }

  .float-left-1 {
    float: left;
    margin-right: 25px;
    max-width: 300px;
    max-height: 300px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 36px;
  }
  /* Our Article And Content Overview Styling End*/
