* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #da6212;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('../images/689140.jpeg');
  }
  
  /* apply styles to <header> */
  header {
    padding: 50px 35px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bio-info {
    padding: 0px 0px 0px 0px;
  }

  .bio-info h2 {
    padding: 5px;
  }

  .bio-info h3 {
    font-style: italic;
    padding-top: 5px;
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #da6212;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: #da6212;
  }
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 7px 0 0 0;
  }
  
  header nav ul li {
    display: inline;
    border-bottom: solid;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  header h1 h2 {
      display: inline;
  }
  
  section {
    padding: 60px;
  }
  
  .intro {
    font-size: 24px;
    color: #da6212;
    margin-bottom: 15px;
    padding: 0 50px 20px 50px;
    border-bottom: 3px solid;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: #da6212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.intro h2 {
  margin: 10px;
  padding: 5px;
}

.project {
  font-size: 24px;
  color: #da6212;
  margin-bottom: 15px;
  padding: 50px 50px 50px 50px;
  border-bottom: 3px solid;
  border-top: 3px solid;
  border-left: 3px solid;
  border-right: 3px solid;
  border-color: #da6212;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.project h2 {
  margin: 10px;
  padding: 5px;
}

.project ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.project ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


  @media only screen and (max-width:1440px) {
      body {
          background-image: url(../images/689140.jpeg);
      }
  }

  @media only screen and (max-width:1024px) {
    body {
      background-image: url(../images/689140.jpeg);
    }
  }
  